CbRates/Connected Services/RatesService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCurrencyRate" nillable="true" type="tns:ServiceCurrencyRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCurrencyRate" nillable="true" type="tns:ArrayOfServiceCurrencyRate" />
  <xs:complexType name="ServiceCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaceValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsoCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StringCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCurrencyRate" nillable="true" type="tns:ServiceCurrencyRate" />
</xs:schema>